@font-face {
  font-family: Gilmer;
  src: url(gilmer_regular.otf);
  src: url(gilmer_bold.otf);
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #121212;
}

h1 {
 color: #FFB6B9;
 font-size: 8rem;
}

p {
 color: #FFB6B9;
 font-size: 2rem;
}

img {
  width: 80%;
}

footer {
 color: #FFB6B9;
 font-size: 1.5rem;
 text-align: center;
 margin-top: 5%;
}
